ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 25, 25);



}

li {
    float: left;
    border-right: 1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: rgb(54, 184, 196);
}

body{
    background: url('images/pro.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
  }
  


footer {

    background-color: #141313;
    color: white;
    font-size: large;
    position: fixed;
    bottom: 0px;

}

.link .social {

    display: inline-block;
    margin: 15px 15px 15px 15px;
    text-align: center;

}

.menu-right {
    float: right;
}